{% extends 'base_product.html' %}
{% block body %}

<section class="categories-page">

  <!-- HEADER -->
  <div class="container">
    <div class="section-header">
      <h2>Browse Categories</h2>
      <p>Find your favorite food categories easily</p>
    </div>

    <!-- SEARCH BAR -->
    <div class="category-search">
        <input type="text" id="searchInput" placeholder="Search categories...">
    </div>

    <!-- CATEGORY GRID -->
    <div class="category-container" id="categoryList">

      {% for category in categories %}
        <a href="/product_list/{{ category.id }}" class="category-item">
        <div class="category-card">
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
            <h3>{{ category.name }}</h3>
        </div>
        </a>
      {% endfor %}

    </div>
  </div>

</section>


{% endblock %}