{% extends 'base_review.html' %}
{% load static %}

{% block review %}

<link rel="stylesheet" href="{% static 'css/delete_review.css' %}">

<div class="delete-review-page">

    <div class="delete-review-card">

        <!-- Left Side -->

        <div class="delete-left">

            <div class="delete-image">

                {% if review.review_images.first %}

                <img src="{{ review.review_images.first.image.url }}" alt="Order Image">

                {% else %}

                <img src="{{ review.order.order_items.first.product.image.url }}" alt="">

                {% endif %}

            </div>

        </div>

        <!-- Right Side -->

        <div class="delete-right">

            <div class="delete-header">

                <h1>Delete Review</h1>

                <p>
                    Are you sure you want to remove your review?
                </p>

            </div>

            <!-- Review Preview -->

            <div class="review-preview">

                <div class="review-top">

                    <h3>
                        {{ review.restaurant.name }}
                    </h3>

                    <span>
                        {{ review.created_at|date:"d M Y" }}
                    </span>

                </div>

                <div class="review-rating">

                    {% for i in "12345" %}

                        {% if forloop.counter <= review.rating %}

                        <span class="filled-star">★</span>

                        {% else %}

                        <span>★</span>

                        {% endif %}

                    {% endfor %}

                </div>

                <p class="review-message">
                    {{ review.review_message }}
                </p>

            </div>

            <!-- Buttons -->

            <div class="delete-buttons">

                <a href="{% url 'review_list' %}" class="cancel-delete-btn">
                    Cancel
                </a>

                <form method="POST">

                    {% csrf_token %}

                    <button type="submit" class="confirm-delete-btn">
                        Delete Review
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}